header{
  
    background-color:  rgb(10, 13, 44);
    
    
}

.cabecalho{
    color: white;
    margin-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family:'Times New Roman', Times, serif
}

